body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: blue;
}

p{
    color: dimgray;
}

#natizhe{
    background-color: white;
    box-shadow: 1px -1px 13px 0px rgba(34, 60, 80, 0.2);
    width: 50%;
    padding: 20px;
}

#natizhe div{
    background-color: rgb(236, 232, 232);
    padding-left: 30px;
    border-radius: 5px;
}